@import "Colors";
@import "Chat.scss";
@import "Notifications.scss";
@import "Media.scss";
@import "AppLauncher.scss";

label {
  font-weight: 700;
}
.workspaces,
.clock,
.volume,
.systray,
.media,
.bc {
  border: 1px solid $main-border-color;
  background-color: $one-dark-bg;
  border-radius: $borders;
  padding: 0 5px;
  margin: 5px 10px;
}

.systray button,
.workspaces button {
  background-color: transparent;
}
.systray button:hover,
.workspaces button:hover,
.bc button:hover,
.bc:hover {
  background-color: rgba($color: #545c70, $alpha: 0.4);
}

.bc label {
  padding-right: 3px;
}

.bc button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
}

.workspaces button {
  color: #eee;
}

.workspaces button.work {
  color: #00a2ff;
}

.workspaces button.focused {
  background-color: rgba($color: #6200ff, $alpha: 0.3);
  color: #6a00ff;
}
.workspaces button,
.workspaces button.work,
.workspaces button.focused {
  padding-right: 5px;
}
.media button {
  background-color: #353955;
}
.media label {
  color: #eee;
}

.media:hover {
  background-color: #343852;
}

.clock {
  font-size: 1.1em;
}
.calendarium {
  background-color: $one-dark-bg;
  border: 1px solid $main-border-color;
}
