astro
autostart
cairo-dock
cef_user_data
chromium
cni
Code
configstore
containers
copyq
cutefishos
dconf
discord
dunst
Electron
fcitx
fcitx5
fish
flameshot
geany
GeoGebra
gh
GIMP
github-copilot
godot
google-chrome
gtk-2.0
gtk-3.0
gtk-3.3.0
gtk-4.0
haruna
htop
ibus
inkscape
JetBrains
Justin\ Maximillian\ Kimlim
kdeconnect
kde.org
leap
menus
microsoft-edge
mpd
ncmpcpp
NuGet
nwg-dock
nwg-dock-hyprland
nwg-look
obsidian
onlyoffice
procps
protonvpn
Proton\ Mail
pulse
qalculate
session
shuttle
Softdeluxe
sveltron
systemd
tgpt
Thunar
tint2
tmatrix
Upscayl
viewnior
VirtualBox
vlc
vopono
xfce4
yarn
yay
BraveSoftware
uGet

#Old bspwm stuff
xsettingsd
sxhkd
bspwm
plank
picom
leftwm

.config.code-workspace
arkrc
birdtray-config.json
GTKTHEME.tar.xz
kwalletrc
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
ags/Widgets/GeminiAI/Apis.json
