#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=BingGPT
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=hpgfdmhandgfpmaeglgcipnkmjepighl "--app-url=https://www.bing.com/search?toWww=1&redig=4BC86B9EF6E64CBEB46913C33D1FBEC4&q=Bing+AI&showconv=1"
Icon=msedge-hpgfdmhandgfpmaeglgcipnkmjepighl-Default
StartupWMClass=crx__hpgfdmhandgfpmaeglgcipnkmjepighl
