[Desktop Entry]
Name=Terraria
Exec=bottles-cli run -p Terraria -b 'Terraria' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/archkye/.local/share/bottles/bottles/Terraria/icons/Terraria.png
Comment=Launch Terraria using Bottles.
StartupWMClass=Terraria
Actions=Configure;
[Desktop Action Configure]
Name=Configure in Bottles
Exec=bottles -b 'Terraria'
