[Desktop Entry]
Name=Unity Hub
Exec=/opt/unityhub/unityhub --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=unityhub
StartupWMClass=unityhub
Comment=The Official Unity Hub
Categories=Development;
TryExec=unityhub --enable-features=UseOzonePlatform --ozone-platform=wayland
MimeType=x-scheme-handler/unityhub;
