label {
  font-weight: bold;
}

.workspaces,
.clock,
.volume,
.systray {
  background-color: #24273a;
  border-radius: 10px;
  border-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.systray button {
  background-color: transparent;
}


.bc {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 12px;
}

.bc:hover {
  color: #8432d2;
}

.workspaces button.work {
  color: #00A2FF;
}

.workspaces button {
  background-color: transparent;
  color: #eee;
}

.media {
  background-color: #24273A;
  padding-left: 15px;
  padding-right: 15px;

}

.media:hover {
  background-color: #343852;
}

.workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #efefef;
}

.workspaces button:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.workspaces button.focused {
  color: #6200ff;
  border-bottom: 3px solid #6200ff;
}

.notification image {
  color: yellow;
  margin-left: 1em;
}

.clock {
  margin: 0 6px;
  font-size: 1.1em;
}

progress,
highlight {
  background-color: aqua;
  min-height: 8px;
}