$mach-Rosewater: #f4dbd6;
$mach-Flamingo: #f0c6c6;
$mach-Pink: #f5bde6;
$mach-Mauve: #c6a0f6;
$mach-Red: #ed8796;
$mach-Maroon: #ee99a0;
$mach-Peach: #f5a97f;
$mach-Yellow: #eed49f;
$mach-Green: #a6da95;
$mach-Teal: #8bd5ca;
$mach-Sky: #91d7e3;
$mach-Sapphire: #7dc4e4;
$mach-Blue: #8aadf4;
$mach-Lavender: #b7bdf8;
$mach-Text: #cad3f5;
$mach-Subtext1: #b8c0e0;
$mach-Subtext0: #a5adcb;
$mach-Overlay2: #939ab7;
$mach-Overlay1: #8087a2;
$mach-Overlay0: #6e738d;
$mach-Surface2: #5b6078;
$mach-Surface0: #363a4f;
$mach-Base: #24273a;
$mach-Mantle: #1e2030;
$mach-Crust: #181926;

$latte-Base: #eff1f5;

$frappe-Base: #303446;
$yet-another-color: #ff00ff;

$borders: 10px;
$one-dark-bg: #282c34;
$main-border-color: #803ae4;
