@import "Colors.scss";
.media-window {
  background-color: $main-border-color;
  border-radius: $borders;
}
.media-window box {
  margin: 1px;
  background-color: $one-dark-bg;
  border-radius: $borders;
  padding: 8px;
}

.media-info {
  margin-right: 10px;
}

.media-info label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.position {
  margin-top: 10px;
}

.position slider {
  all: unset;
}
