window {
  background-image: url("/home/archkye/backgrounds/wallpapers/02_Wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
