@import "Colors.scss";
$mach-Surface1: #494d64;
$text-input: #3a3d4b;

.chat {
  border-top-right-radius: $borders;
  border-bottom-right-radius: $borders;
  background-color: $main-border-color;
}
.chat box {
  margin: 1px;
  border-top-right-radius: $borders;
  border-bottom-right-radius: $borders;
  background-color: #21252b;
}
.activatable {
  border-radius: $borders;
}

.input {
  padding: 15px;
  border-radius: $borders;
}
.right {
  border-top-left-radius: $borders;
  border-bottom-left-radius: $borders;
}
.inputBox {
  border: 1.5px solid #3e4452;
}
.inputBox,
.inputBox text,
.view {
  min-width: 350px;
  padding: 2px;
  border-radius: $borders;
  background-color: #1d1f23;
}
.scrollChatBox {
  min-height: 830px;
}
.sendButton {
  margin-top: 15px;
  margin-bottom: 15px;
}
.chatHeader {
  padding: 15px 40px 10px 40px;
}
.chatHeader button {
  background-color: transparent;
  border-radius: 25px;
}
.chatHeader button:hover {
  background-color: #59606d;
}

.chatBox * {
  all: unset;
}
.chatBox {
  background-color: $one-dark-bg;
  margin: 5px;
  border-radius: $borders;
}

.chatBox label {
  color: #efefef;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px;
  margin: 2px;
  border-radius: $borders;
  background-color: #141414;
}
