@import "Colors.scss";

progress,
highlight {
  background-color: aqua;
  min-height: 8px;
}

window#notifications {
  all: unset;
}

window#notifications box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  margin: 5px;
  color: #efefef;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 300px;
  border-radius: $borders;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid $main-border-color;
  background-color: $one-dark-bg;
}

.notification.low {
  border: 1px solid #40ff69;
}
.notification.normal {
  border: 1px solid $main-border-color;
}
.notification.critical {
  border: 1px solid #f08080;
}

.title {
  color: #8432d2;
  font-size: 1.4em;
}

.body {
  color: #fff;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

.notification-sidebar {
  border-top-left-radius: $borders;
  border-bottom-left-radius: $borders;
  border: 1px solid $main-border-color;
  background-color: $one-dark-bg;
}

.scroll_notifications {
  min-height: 280px;
  min-width: 350px;
  padding: 10px;
  border-top-left-radius: $borders;
  border-bottom-left-radius: $borders;
}
.notification-widget {
  margin: 2px;
  border-radius: 5px;
  background-color: #393e49;
}

.notification-title-low {
  color: #40ff69;
  font-size: 1.2em;
  margin: 5px;
}
.notification-title-normal {
  color: $main-border-color;
  font-size: 1.2em;
  margin: 5px;
}
.notification-title-critical {
  color: #f08080;
  font-size: 1.2em;
  margin: 5px;
}

.notification-body {
  color: #fff;
  margin: 5px;
}
.notification-clear-icon {
  border-bottom-left-radius: $borders;
  margin: 1px;
  padding: 5px 10px;
  background-color: #21252b;
}
.notification-clear-icon button {
  background-color: #21252b;
  transition-duration: 200ms;
}

.notification-clear-icon button:hover {
  background-color: #59606d;
}
