@import "Colors.scss";
$mach-Surface1: #494d64;
$text-input: #3a3d4b;
$tenpx: 10px;

.chat {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7da8ff;
}
.chat box {
  margin: 1px;
  border-top-right-radius: $tenpx;
  border-bottom-right-radius: $tenpx;
  background-color: #21252b;
}
.activatable {
  border-radius: $tenpx;
}

.input {
  padding: 15px;
  border-radius: 10px;
}
.right {
  border-top-left-radius: $tenpx;
  border-bottom-left-radius: $tenpx;
}
.inputBox {
  border: 1.5px solid #3e4452;
}
.inputBox,
.inputBox text,
.view {
  padding: 2px;
  border-radius: 10px;
  background-color: #1d1f23;
}

.sendButton {
  margin-top: 15px;
  margin-bottom: 15px;
}
.chatHeader {
  padding: 15px 40px 10px 40px;
}
.chatHeader button {
  background-color: transparent;
  border-radius: 25px;
  padding: 2px 5px;
  margin: 0 5px;
}
.chatHeader button:hover {
  background-color: #333546;
}
.chatBox * {
  all: unset;
}
.chatBox {
  background-color: #282c34;
  margin: 5px;
  border-radius: 10px;
}

.chatBox label {
  color: #efefef;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  background-color: #141414;
}
