.media-window box {
  background-color: #353955;
  border-radius: 10px;
  padding: 8px;
}
.media-info {
  margin-right: 10px;
}
.media-info label {
  margin-bottom: 5px;
  margin-top: 5px;
}
.position {
  margin-top: 10px;
}
