.media-window {
  background-color: #7da8ff;
  border-radius: 10px;
}
.media-window box {
  margin: 1px;
  background-color: #282c34;
  border-radius: 10px;
  padding: 8px;
}

.media-info {
  margin-right: 10px;
}

.media-info label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.position {
  margin-top: 10px;
}

.position slider {
  all: unset;
}
